<app-menu></app-menu>
<div class="col-9 add_product">
  <h3>Thêm Artist</h3>
  <div class="form-group">
    <label for="name">FirstName</label>
    <input type="text" class="form-control" id="title" placeholder="Nhập FirstName" name="title" [(ngModel)]="artist.firstName">
  </div>
  <div class="form-group">
    <label for="name">Lastname</label>
    <input type="text" class="form-control" id="price" placeholder="Nhập FirstName" name="price" style="margin-left: 33px;" [(ngModel)]="artist.lastName">
  </div>
  <div class="form-group">
    <label for="name">LifeSpan</label>
    <input type="text" class="form-control" name="lifespan" id="lifespan" placeholder="Nhập LifeSPan" style="margin-left: 39px;" [(ngModel)]="artist.lifeSpan">
  </div>
  <div class="form-group">
    <label for="name">Country</label>
    <input class="form-control" name="Country" id="country" placeholder="Nhập Country" style="margin-left: 42px;" [(ngModel)]="artist.country">
  </div>
  <div class="form-group">
      <label for="name">Description</label>
      <input class="form-control" name="description" id="description" placeholder="Nhập Description" style="margin-left:21px"[(ngModel)]="artist.description">
  </div>
  <div class="form-group">
      <label for="name">TotalProducts</label>
      <input class="form-control" name="totalProducts" id="totalProducts" placeholder="Nhập TotalProducts" style="margin-left: 4px;" [(ngModel)]="artist.totalProducts">
  </div>
  <a routerLink="/artist">
    <button class="add" type="submit" (click)="addArtist()">Thêm</button>
  </a>
</div>