<app-menu></app-menu>
<div class="col-10 show_order">
    <h3>Danh sách hóa đơn</h3>
      <table #dataTable style="width:100%" class="table table-hover display">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Tên khách hàng</th>
                <th>Ngày</th>
                <th>Tổng giá</th>
                <th>Order Number</th>
                <th>ItemCount</th>
                <!-- <th>Xóa</th>
                <th>Sửa</th> -->
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of OrderData  |paginate: { itemsPerPage: 8, currentPage: p}">
                <td>{{order.id}}</td>
                <td>
                <span>{{order.user.firstName}}</span> <span>{{order.user.lastName}}</span></td>
                <td>{{order.orderDate | date:'medium'}}</td>
                <td>{{order.totalPrice}}</td>
                <td>{{order.orderNumber}}</td>
                <td>{{order.itemCount}}</td>
                <!-- <td><i class="far fa-trash-alt"></i></td>
               <td><i class="fas fa-marker"></i></td> -->
               <td><a routerLink="/admin/order_detail/{{order.id}}">Chi tiết</a></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
  
