.header i{
    color: #ffffff;
    float: right;
    font-size: 19px;
    margin-top: 16px;
    margin-right: 20px;
}
.menu{
    background: #464647 !important;
    float: left;
    height: 800px;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 100px 0px;
    margin-top: 55px;
}
.search{
    margin: 20px;
}
ul{
    display: block;
}
.header{
    height: 50px;
    background: #F5F5F5;
}
.menu li{
    list-style: none;
    padding: 10px 0px 10px 0px;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
    background: none !important;
    padding:10px 0px 0px 30px;

}
.menu ul li ul{
    transition: 0.2s all;
}
.menu ul li ul{
    display: none;
    padding-top: 12px;
}
.menu ul li:hover ul{
    display: block;
}
.menu ul li:hover ul{
    display: block;
}
nav{
    padding: 0px;
}
.menu ul{
    width: 100% !important;
    padding: 0px;
}
.menu ul li{
    width: 100%;
}
.menu ul li.dropdown{
    border-bottom: 1px solid #989090;
    padding-bottom: 0px;
}
.menu ul li:hover{
   background: #575757;
   color: #F36A5A;
   border: none;
}
.menu ul li ul li a{
    padding-left: 38px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu ul li ul li:hover{
    background: #000 !important;

}
.menu a.nav-link{
    padding-bottom: 17px;
}