<header>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="javascript:;;"> <img src="./assets/img/logo-light.png" alt="" width="auto" height="40"></a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:;;" [routerLink]="[ '/' ]">{{this.translate.data["HOME"] | translate}}
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li> -->
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <div>
          <a class="nav-link" href="javascript:;;" [routerLink]="['/cart']">
            <i class="fa fa-shopping-cart">
              <span class="mt-2"> {{productService.navbarCartCount}}</span>
            </i>
          </a>
        </div>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" routerLink="/acount">
          <i class="fa fa-user mr-1"></i>{{this.translate.data["MYACCOUNT"] | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()"data-toggle="modal"  data-target="#mylogin">
        <a class="nav-link" [routerLink]="[ '/login' ]">
          <i class="fa fa-sign-in mr-1"></i> {{this.translate.data["SIGNIN"] | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" (click)="logout()">
          <i class="fa fa-sign-in mr-1"></i>{{this.translate.data["LOGOUT"] | translate}}</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe"> </i><span class="caret"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item waves-light" href="javascript:;;" (click)="setLang('en')">
              English </a>
            <a class="dropdown-item waves-light" href="javascript:;;" (click)="setLang('vn')">
              Việt Nam </a>
          </div>
        </div>
      </li>
     
    </ul>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
</header>

<div class="modal" id="mylogin">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Sign in</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <i class="fas fa-user-circle"></i>
          <div class="modal-body login">
              <!-- <i class="fas fa-user"></i> -->
              <input type="text" placeholder="Username" id="username" ngModel="email" >
              <!-- <i class="fas fa-unlock-alt"></i> -->
              <input type="password" placeholder="password" id="password" ngModel="password">
              <input type="submit" value="Sign In" class="sign" (click)="login(email,password)"><br>
              <input type="checkbox" style="width: 6%; margin-left: -50px;">Remember me
              <a href="#" class="forgot">forgot password?</a>
              <div class="shadow"></div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

      </div>
  </div>
</div>

<div class="modal" id="myregister">
<div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Register</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <i class="fas fa-user-circle"></i>
        <div class="modal-body login">
            <!-- <i class="fas fa-user"></i> -->
            <input type="text" placeholder="Username" id="username"  ngModel="email">
            <input type="text" placeholder="Address" id="address" ngModel="password">
            <input type="text" placeholder="Phone" id="phone" >
            <input type="password" placeholder="password" id="password">
            <input type="submit" value="Register" class="sign" (click)="register(email,password)"><br>
            <div class="shadow"></div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>
</div>