.navbar {background-color: black; height: 55px;box-shadow: inset 0 -1px 0px 0px #f8694a;};
.dropdown-toggle{background-color: black};
.navbar {
    top: 0;
  }
  
  /deep/ .dropdown-menu {
    margin-left: -6rem;
  }
  
  /***********modal**************/
  .button-login{
    text-align: center;
}
.login input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 22px;
    padding-left: 24px;
}
.login input[type="submit"] {
  
    text-shadow:1px 1px 0px #37a69b;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #37a69b;
    background-image: linear-gradient(top,#3db0a6,#3111);
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
  }
.login input[type="submit"]:active {
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
  }
.sign{
    background: #117998;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 40px;
}
.login a{
    color: #000000;
    float: right;
}
.login i.fa-user{
    position: absolute;
    top: 11%;
    left: 21%;
    z-index: 999;
}
.modal i{
    text-align: center;
    font-size: 60px;
    margin-top: 19px;
    color: #1c6fa0;
}