.payment{
    background: #F4F4F4;
    padding:60px 0px;
}
h3.title{
    font-size: 19px;
    padding-bottom: 20px;
}
.order_customer{
    background: #ffffff;
    float: left;
    padding: 20px;
}
.order_customer span{
    display: inherit;
}
.order_customer button{
    margin-top: 20px;
}
.order_customer button.send{
    margin-top: 20px;
    background: #F8694A;
    border: none;
    padding: 4px 8px;
    color: #ffffff;
    margin-right: 11px;
}
.order_customer button{
    background: #f3f2f2;
    border: 1px solid #ccc;
    padding: 4px 10px;
    margin-right: 10px;
}
.form_custom{
    padding: 20px;
}
// .form_custom h3{
//     display: inline;
// }
.form_custom h6{
    display: inline;
    float: right;
    font-size: 14px;
    color: #F8694A;
}