<app-slider></app-slider>
<div id="demo" class="carousel slide" data-ride="carousel">

  <div style="background:#F4F4F4; padding-bottom: 65px;">
      <div class="container">
          <div class="row">
            <!-- section title -->
            <div class="col-md-12" style="border-bottom: 1px solid #ccc;padding: 0px;margin: 40px 0px; position: relative;">
              <div class="section-title col-8" style="padding: 0px;">
                  <div class="dropdown-menu"> 
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      List Artist
                    </button>
                      <a name="artist" class="dropdown-item" *ngFor="let a of artists" routerLink="/product/artist/{{a.id}}">{{a.firstName}}  {{a.lastName}}</a>                  
                    </div>
                
              </div>
              <form class="col-4 search" id="filter">
                <input name="term" [(ngModel)]="term" type="text" name="search" placeholder="Search.." autofocus >
                <button type="submit"><i class="fas fa-search"></i></button>
              </form>
            </div>
            <!-- section title -->
          
            <!-- Product Single -->

            <div class="item col-md-3 col-sm-6 col-xs-6" *ngFor = "let p of product | filter: term| filter: loadproduct">
              <div class="product product-single" >
                  
                <a routerLink="/detail/{{p.id}}">
                    <div class="product-thumb">
                        <img src="http://localhost:8080/file/downloadFile/{{p.image}}" alt="">     
                      </div>
                </a>
                <div class="product-body">
                    <h2 class="product-name"><a routerLink="/detail/{{p.id}}">{{p.title}}</a></h2>
                  <p class="product-price">{{p.price}} $</p>
                  <div class="product-rating">
                      <i ng-click="changeicon(this)" class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star-o empty"></i>
                    </div>
                  <div class="product-btns">
                      <a (click) = "addProductToCart(p)"><button type="submit" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart">Add to Cart</i> </button></a>

                   </div>
                </div>
              </div>
            </div>      
          </div>
        </div>
  </div>