
<app-slider></app-slider>

<div id="demo" class="carousel slide" data-ride="carousel">

  <div style="background:#F4F4F4; padding-bottom: 65px;">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <form class="form-search"> 
                  
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search in Shop Market" aria-label="Search in Shop Market" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <div>

                              <ul class="navbar-nav mr-auto">
                                  <li class="nav-item dropdown  " dropdown>
                                    
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle button-search" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bolt"> </i><span class="caret"> On Review  </span>
                                      </button>
                                      <div class="dropdown-menu category" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item waves-light" href="javascript:;;" (click)="selectCategory(null)">
                                              --- All Star --- </a>
                                        <a class="dropdown-item waves-light" href="javascript:;;" (click)="selectCategory(artist)">
                                          1 star</a>
                                        <a class="dropdown-item waves-light" href="javascript:;;" (click)="selectCategory(artist)">
                                          2 star</a>
                                          <a class="dropdown-item waves-light" href="javascript:;;" (click)="selectCategory(artist)">
                                              3 star</a>
                                      </div>
                                    </div>
                                  </li>
                                  <!-- <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                  </li> -->
                                </ul>
                          </div>
                          <div >
                            <ul class="navbar-nav">
                                <li class="nav-item " dropdown>
        
                                    <div class="dropdown button-search">
                                      <a  class="btn button-search dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-dollar-sign mr-1"> </i><span class="caret">Price</span>
                                      </a>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item waves-light" href="javascript:;;" (click)="setLang('en')">
                                          English </a>
                                        <a class="dropdown-item waves-light" href="javascript:;;" (click)="setLang('vn')">
                                          Việt Nam </a>
                                      </div>
                                    </div>
                                  </li>
                            </ul>
                          </div>



                          <button class="btn button-search" style="  border-top-right-radius: 5px 5px;border-bottom-right-radius: 5px 5px;" type="button"> <i class="fas fa-search"></i> Search </button>
                        </div>
                      </div>
                  </form>
                </div>
                
                
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                  <h5 class="title">Hot  Products</h5>
                </div>
              </div>
              <div class="item col-md-3 col-sm-6 col-xs-6" *ngFor = "let p of product">
                <div class="product product-single" >
                    
                  <a routerLink="/detail/{{p.id}}">
                      <div class="product-thumb">
                          <img src="http://localhost:8080/file/downloadFile/{{p.image}}" alt="">     
                        </div>
                  </a>
                  <div class="product-body">
                      <h2 class="product-name"><a routerLink="/detail/{{p.id}}">{{p.title}}</a></h2>
                    <p class="product-price">{{p.price}} đ</p>
                    <div class="product-rating">
                        <i ng-click="changeicon(this)" class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star-o empty"></i>
                      </div>
                    <div class="product-btns">
                        <a (click) = "addProductToCart(p)"><button type="submit" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart">Add to Cart</i> </button></a>
  
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                  <div class="section-title">
                    <h5 class="title">All  Products</h5>
                  </div>
                </div>
                <div class="item col-md-3 col-sm-6 col-xs-6" *ngFor = "let p of product">
                  <div class="product product-single" >
                      
                    <a routerLink="/detail/{{p.id}}">
                        <div class="product-thumb">
                            <img src="http://localhost:8080/file/downloadFile/{{p.image}}" alt="">     
                          </div>
                    </a>
                    <div class="product-body">
                        <h2 class="product-name"><a routerLink="/detail/{{p.id}}">{{p.title}}</a></h2>
                      <p class="product-price">{{p.price}} đ</p>
                      <div class="product-rating">
                          <i ng-click="changeicon(this)" class="far fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star-o empty"></i>
                        </div>
                      <div class="product-btns">
                          <a (click) = "addProductToCart(p)"><button type="submit" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart">Add to Cart</i> </button></a>
    
                       </div>
                    </div>
                  </div>
                </div>
          </div>
          
        </div>
  </div>

