
<app-slider></app-slider>
<div id="demo" class="carousel slide" data-ride="carousel">

  <div style="background:#F4F4F4; padding-bottom: 65px;">
      <div class="container">
          <div class="row">
            <!-- section title -->
            <div class="col-md-12">
              <div class="section-title">
                <h2 class="title">Products</h2>
              </div>
            </div>
            <!-- section title -->
          
            <!-- Product Single -->

            <div class="item col-md-3 col-sm-6 col-xs-6" *ngFor = "let product of products">
              <div class="product product-single" >
                  
                <a routerLink="/detail">
                    <div class="product-thumb">
                        <img src="{{'./assets/img/'+ product.image}}" alt="">    
                      </div>
                </a>
                <div class="product-body">
                    <h2 class="product-name"><a href="#">{{product.title}}</a></h2>
                  <p class="product-price">{{product.price}} đ</p>
                  <div class="product-rating">
                      <i ng-click="changeicon(this)" class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star-o empty"></i>
                    </div>
                  <div class="product-btns">
                      <a routerLink="/cart"><button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button></a>
                   </div>
                     
                 
                </div>
              </div>
            </div>
            <!-- /Product Single -->
          
            <!-- Product Single -->
            <!-- <div class="item col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product02.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div> -->
          
            <!-- Product Single -->
            <!-- <div class="item col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product03.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
           -->
            <!-- Product Single -->
            <!-- <div class="item col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product04.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50</h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- /Product Single -->
          </div>
          <div class="row">
            <!-- <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product07.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div> -->
          
            <!-- Product Single -->
            <!-- <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product07.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- /Product Single -->
          
            <!-- Product Single -->
            <!-- <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product06.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- /Product Single -->
          
            <!-- Product Single -->
            <!-- <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product05.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- /Product Single -->
          </div>
        </div>
  </div>

