<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/img/banner01.jpg" alt="Los Angeles" width="1100" height="500" >
      </div>
      <div class="carousel-item">
        <img src="./assets/img/banner02.jpg" alt="Chicago" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="./assets/img/banner03.jpg" alt="New York" width="1100" height="500">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <div style="background:#F4F4F4; padding-bottom: 65px;
">
      <div class="container">
          <div class="row">
            <!-- section title -->
            <div class="col-md-12">
              <div class="section-title">
                <h2 class="title">Products</h2>
              </div>
            </div>
            <!-- section title -->
          
            <!-- Product Single -->
            <div class="item col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single" >
                  
                <a routerLink="/detail">
                    <div class="product-thumb">
                        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                        <img src="./assets/img/product01.jpg" alt="">
                      </div>
                </a>
                <div class="product-body">
                  <h3 class="product-price">$32.50</h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                   <a routerLink="/cart"><button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Product Single -->
          
            <!-- Product Single -->
            <div class="item col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product02.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- Product Single -->
            <div class="item col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product03.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- Product Single -->
            <div class="item col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product04.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50</h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Product Single -->
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product07.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product07.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Product Single -->
          
            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product06.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Product Single -->
          
            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="product product-single">
                <div class="product-thumb">
                  <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                  </div>
                  <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                  <img src="./assets/img/product05.jpg" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                  </div>
                  <h2 class="product-name"><a href="#">Product Name</a></h2>
                  <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Product Single -->
          </div>
        </div>
  </div>

