<div class="payment">
    <div class="container">
        <div class="row">
          <h3 class="title">2. Địa chỉ giao hàng</h3>
          <div class="col-12" style="padding:0px">
              <div class="order_customer col-5">
                  <h3 style="font-size: 18px;">VÕ THỊ TUYẾT LAN</h3>
                  <span>Địa chỉ: Quận 9, tp HCM</span>
                  <span>Số điện thoại: 0988123456</span>
                  <button type="button" class="send">Giao đến địa chỉ này</button>
                  <button type="button">Sửa</button>
                  <button type="button">Xóa</button>
              </div>
              <div class="col-2"></div>
              <div class="order_customer form_custom col-5" style="float: right;">
                  <h3 style="font-size: 18px;">VÕ THỊ TUYẾT LAN</h3>
                  <h6>Mặc định</h6>
                  <span>Địa chỉ: Quận 9, tp HCM</span>
                  <span>Số điện thoại: 0988123456</span>
                  <button type="button" class="send">Giao đến địa chỉ này</button>
                  <button type="button">Sửa</button>
                </div>
          </div>
          <div class="col-12" style="padding:0px">
                <h3 class="title">3. Thanh toán và đặt mua</h3>
                <div class="order_customer col-5">
                        <h3 style="font-size: 18px;">VÕ THỊ TUYẾT LAN</h3>
                        <span>Địa chỉ: Quận 9, tp HCM</span>
                </div>
                
                <div class="order_customer form_custom col-5" style="float: right;">
                        <span>Đơn hàng (1 sản phẩm)</span>
                        <div>
                            <span>1</span> * <span>Tên sản phẩm</span> <span>215.000đ</span>
                        </div><hr>
                        <div>
                            Thành tiền : <span>215.000đ</span>
                        </div>

                </div>
          </div>
         
        </div>
      </div>
</div>
