.product .image{
    float: left;
}
.product .body{
    float: left;
}

#aside .aside {
    margin-bottom: 30px;
  }
  
  #aside .aside:last-child {
    margin-bottom: 0px;
  }
  
  .aside .aside-title {
    position: relative;
    border-bottom: 1px solid #DADADA;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 15px;
    line-height: 24px;
    font-size: 18px;
  }
  
  .aside .aside-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 3px;
    width: 60px;
    background-color: #F8694A;
  }
  
  /*-- Filter list --*/
  
  .filter-list {
    margin-bottom: 15px;
  }
  
  .filter-list>li {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 6px;
  }
  
  .filter-list>li:last-child {
    margin-right: 0px;
  }
  
  .filter-list li a {
    position: relative;
    padding: 0px 5px 0px 20px;
  }
  
  .filter-list li a:before {
    content: "\f00d";
    font-family: FontAwesome;
    position: absolute;
    left: 4px;
    top: 5px;
    line-height: 12px;
    font-size: 9px;
    color: #FFF;
    background: #30323A;
    width: 12px;
    text-align: center;
    border-radius: 50%;
    height: 12px;
  }
  
  /*-- Price Filter --*/
  
  #price-slider {
    margin: 60px 0px 50px;
  }
  
  .noUi-target {
    background-color: #DADADA;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
  }
  
  .noUi-connect {
    background-color: #F8694A;
  }
  
  .noUi-horizontal {
    height: 4px;
  }
  
  .noUi-horizontal .noUi-handle {
    width: 12px;
    height: 12px;
    left: -6px;
    top: -4px;
    border: none;
    background: #30323A;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
  }
  
  .noUi-handle:before, .noUi-handle:after {
    display: none;
  }
  
  .noUi-tooltip {
    border: none;
    color: #FFF;
    background: #30323A;
    border-radius: 0px;
  }
  
  /*----------------------------*\
      Store
  \*----------------------------*/
  
  #store {
    margin-top: 15px;
    padding-top: 30px;
    border-top: 1px solid #DADADA;
    margin-bottom: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DADADA;
  }
  
  /*-- store filter --*/
  
  .row-filter {
    display: inline-block;
    vertical-align: top;
  }
  
  .row-filter>a {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    background-color: #30323A;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  
  .row-filter>a:hover {
    opacity: 0.9;
  }
  
  .row-filter>a.active {
    background-color: #F8694A;
  }
  
  .sort-filter {
    display: inline-block;
    margin-left: 15px;
  }
  
  .sort-filter select.input {
    width: 120px;
  }
  
  .page-filter select.input {
    width: 90px;
  }
  
  .page-filter {
    display: inline-block;
  }
  
  .store-pages {
    display: inline-block;
    margin-left: 15px;
  }
  
  .store-pages li {
    display: inline-block;
    margin-right: 6px;
  }
  
  .store-pages li a {
    display: block;
    min-width: 10px;
    text-align: center;
  }
  
  .store-pages li.active {
    color: #F8694A;
  }
  
  /*=========================================================
      08 -> PRODUCT DETAILS PAGE
  ===========================================================*/
  
  /*----------------------------*\
      Product view
  \*----------------------------*/
  
  #product-main-view .slick-arrow {
    opacity: 0;
  }
  
  #product-main-view:hover .slick-arrow {
    opacity: 1;
  }
  
  #product-view {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  #product-view .product-view.slick-slide {
    opacity: 0.2;
  }
  
  #product-view .product-view.slick-slide.slick-current {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 0px 2px #F8694A inset;
    box-shadow: 0px 0px 0px 2px #F8694A inset;
  }
  
  #product-view .product-view {
    padding: 7.5px;
  }
  
  .product-view>img {
    width: 100%;
  }
  
  /*----------------------------*\
      Product details
  \*----------------------------*/
  .product-name a{
      color: #F8694A;
  }
  .product.product-details .product-name {
    margin-top: 15px;
  }
  
  .product.product-details .product-rating {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .product.product-details .product-options {
    padding-top: 30px;
    margin-bottom: 15px;
    border-top: 1px solid #DADADA;
    margin-top: 15px;
  }
  
  .product-options .size-option {
    margin-bottom: 15px;
  }
  
  .size-option>li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
    vertical-align: top;
  }
  
  .size-option>li:last-child {
    margin-right: 0px;
  }
  
  .size-option>li>a {
    display: block;
    border: 1px solid #DADADA;
    font-weight: 700;
    padding: 2px 7px 0px 8px;
  }
  
  .size-option>li.active a {
    color: #F8694A;
    border-color: #F8694A;
  }
  
  .color-option>li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
    vertical-align: top;
  }
  
  .color-option>li:last-child {
    margin-right: 0px;
  }
  
  .color-option>li>a {
    display: block;
    width: 20px;
    height: 20px;
  }
  
  .color-option>li.active a {
    -webkit-box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #F8694A;
    box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #F8694A;
  }
  
  .product.product-details .qty-input {
    display: inline-block;
  }
  
  .product.product-details .qty-input .input {
    width: 90px;
  }
  
  /*----------------------------*\
      Product tab
  \*----------------------------*/
  
  .product-tab {
    margin-top: 30px;
  }
  
  .product-tab .tab-nav {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 30px;
  }
  
  .product-tab .tab-nav li {
    display: inline-block;
  }
  
  .product-tab .tab-nav li+li {
    margin-left: 30px;
  }
  
  .product-tab .tab-nav li a {
    display: block;
    padding: 15px 0px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .product-tab .tab-nav li.active {
    position: relative;
  }
  
  .product-tab .tab-nav li.active a {
    color: #F8694A;
  }
  
  .product-tab .tab-nav li.active a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 3px;
    width: 30px;
    background-color: #F8694A;
  }
  
  /*-- reviews --*/
  
  .single-review {
    margin-bottom: 30px;
  }
  
  .single-review .review-heading>div {
    display: inline-block;
  }
  
  .single-review .review-heading>div+div {
    margin-left: 10px;
  }
  
  .single-review .review-rating {
    display: inline-block;
  }
  
  .single-review .review-rating>i {
    color: #FFB656;
  }
  
  .single-review .review-rating>i.empty {
    color: #DADADA;
  }
  
  .single-review .review-body {
    margin-top: 10px;
  }
  
  .reviews-pages li {
    display: inline-block;
    margin-right: 6px;
  }
  
  .reviews-pages li a {
    display: block;
    min-width: 10px;
    text-align: center;
  }
  
  .reviews-pages li.active {
    color: #F8694A;
  }
  
  /*-- review form --*/
  
  .review-form textarea.input {
    height: 90px;
  }
  
  .review-form .input-rating .stars {
    display: inline-block;
    vertical-align: top;
  }
  
  .review-form .input-rating .stars input[type="radio"] {
    display: none;
  }
  
  .review-form .input-rating .stars>label {
    float: right;
    cursor: pointer;
    padding: 0px 3px;
    margin: 0px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  
  .review-form .input-rating .stars>label:hover, .review-form .input-rating .stars>label:hover~label {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  
  .review-form .input-rating .stars>label:before {
    content: "<i class="far fa-star"></i>";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #DADADA;
    font-size: 14px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  
  .review-form .input-rating .stars>label:hover:before, .review-form .input-rating .stars>label:hover~label i {
    // content: "\f005";
    color: #FFB656;
  }
  
  .review-form .input-rating .stars>input:checked label:before, .review-form .input-rating .stars>input:checked~label i{
    // content: "\f005";
    color: #FFB656;
  }
  .item{
    margin-bottom: 50px;
}
.product .product-old-price {
    color: #F8694A;
    font-size: 70%;
  }
  
  .product .product-rating {
    display: inline-block;
  }
  
  .product .product-rating>i {
    color: #FFB656;
  }
  
  .product .product-rating>i.empty {
    color: #DADADA;
  }
  
  .product .product-label>span {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 700;
    color: #FFF;
    background-color: #30323A;
    z-index: 22;
  }
  
  .product .product-label>span.sale {
    background-color: #F8694A;
  }
  
  .product .product-countdown {
    z-index: 22;
  }
  
  .product .product-countdown>li {
    display: inline-block;
    margin-right: -4px;
  }
  
  .product .product-countdown>li+li:before {
    content: ":";
    color: #FFF;
    background: #30323A;
    padding: 2px;
  }
  
  .product .product-countdown>li>span {
    display: inline-block;
    color: #FFF;
    font-weight: 700;
    padding: 10px;
    background: #F8694A;
  }
.product-tab{
    float: left;  
}

.qty{
  margin-right: 51px;
}
.product.product-single {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border: 1px solid #ccc;
}

.product.product-single:hover {
  -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 0px 10px 0px rgb(103, 88, 88);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  border: none;
}
.product.product-single:hover .product-thumb{
  border-bottom: 1px solid #ccc;
}

.product.product-single .product-thumb {
  position: relative;
  margin-bottom: 15px;
}
.product.product-single .product-thumb>img {
  width: 100%;
}

.product.product-single .product-thumb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single:hover .product-thumb:after {
  opacity: 0.7;
  visibility: visible;
}

.product.product-single .quick-view {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: 20;
}

.product.product-single:hover .quick-view {
  opacity: 1;
  visibility: visible;
}

.product.product-single .product-label {
  position: absolute;
  left: 0;
  top: 0;
}

.product.product-single .product-label>span {
  display: block;
}

.product.product-single .product-countdown {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.product.product-single .product-body {
  padding: 15px;
}

.product.product-single .product-price {
  display: inline-block;
}

.product.product-single .product-rating {
  float: right;
  margin-top: 5px;
}

.product.product-single .product-name {
  font-size: 16px;
}
h2.product-name a{
    color: #000000;
    font-size: 17px;
    text-decoration: none;
}
.product.product-single .product-btns {
  margin-top: 20px;
  text-align: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.product-btns .icon-btn{
  margin-bottom: 20px;
}


/*-- hot product --*/

.product.product-single.product-hot {
  border: 2px solid #F8694A;
}

.product.product-single.product-hot .product-btns {
  opacity: 1;
  visibility: visible;
}
.banner-2{
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.banner_detail img
{
  width: 100%;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
}
.product-details .product-view{
  border: 7px solid #E8DAB2;
  border-radius: 15px;
  width: 68%;
}
